EdgeDetection.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
EdgeDetection.xcodeproj/project.xcworkspace/xcuserdata/denys.xcuserdatad/UserInterfaceState.xcuserstate
EdgeDetection.xcodeproj/project.xcworkspace/contents.xcworkspacedata
EdgeDetection.xcodeproj/xcuserdata/denys.xcuserdatad/xcschemes/xcschememanagement.plist
